APP_NAME=figrana
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/figrana
NFE_PATH=/var/www/nfe/producao/recebidas

GRANATUM_TOKEN=11c94a35541efd10b2fb40df83bd3fb33cc21fd2c49cfd2832265064938d2a73
GRANATUM_VERSION=v1
GRANATUM_URI=https://api.granatum.com.br

DB1_CONNECTION=MYSQL
DB1_HOST=127.0.0.1
DB1_PORT=3306
DB1_DATABASE=figrana
DB1_USERNAME=root
DB1_PASSWORD=monitor5

DB2_CONNECTION=MSSQL
DB2_HOST=
DB2_PORT=
DB2_DATABASE=
DB2_USERNAME=
DB2_PASSWORD=

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
