APP_NAME=figrana
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/figrana

GRANATUM_TOKEN=
GRANATUM_VERSION=v1
GRANATUM_URI=https://api.granatum.com.br

DB1_CONNECTION=MYSQL
DB1_HOST=127.0.0.1
DB1_PORT=3306
DB1_DATABASE=figrana
DB1_USERNAME=figrana
DB1_PASSWORD=senha

DB2_CONNECTION=MSSQL
DB2_HOST=
DB2_PORT=
DB2_DATABASE=
DB2_USERNAME=
DB2_PASSWORD=

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
